@model AppleModel


<div>
    <input type="hidden" asp-for="ID" />
    <label asp-for="Variety"></label>
    <input asp-for="Variety" />
    <span class="text-danger" asp-validation-for="Variety"></span>
</div>