@model PearType

<div class="row">
    <h2>@Model.Name</h2>
    <div>Color: @Model.Color</div>
    <div><a asp-action="Edit" asp-controller="PearType" asp-route-id="@Model.ID" class="btn btn-secondary"><i class="fa-solid fa-pen-to-square"></i> Edit Pear Type</a></div>
</div>