@model PearmageddonConfig

<div>Favorite Pear Type = @Model.FavoritePear</div>
    <h2>Pear Types</h2>
    
    Secret Key: @ViewBag.SecretKey

    @* @foreach(var pear in Model.PearTypes)
    {
        <div>
            <div>Pear Name: @pear.Name</div>
            <div>Pear Color: @pear.Color</div>
        </div>
    } *@