@model List<string>
<h1>Roles</h1>
@foreach (var role in Model)
{

    <div>Role: @role</div>
}
@* @foreach(var pear in Model.PearTypes)
    {
        <div>
            <div>Pear Name: @pear.Name</div>
            <div>Pear Color: @pear.Color</div>
        </div>
    } *@