@model DateTime
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">IT'S PEARMAGEDDON!</h1>
    
</div>
<p>A site to keep track of our pear canning sessions</p>
<a asp-controller="" >Add a New Canning Session</a>

